<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="ImportConnectionString0" connectionString="Data Source=Server;Initial Catalog=DB;Persist Security Info=True;User ID=user;Password=passwort" providerName="System.Data.SqlClient" />
    <add name="ImportConnectionString1" connectionString="Data Source=WEB02;Initial Catalog=Badfaszination;Persist Security Info=True;User ID=sa;Password=Cazis08" providerName="System.Data.SqlClient" />
    <add name="ImportConnectionString" connectionString="Data Source=PC03\SQL2016;Initial Catalog=ProduktDB;Persist Security Info=True;User ID=sa;Password=Cazis08" providerName="System.Data.SqlClient" />    
  </connectionStrings>
</configuration>